#{extends 'main.html' /}
#{set title:'Home' /}

<!-- The navigation menu will get the value of the "active" variable as a class.
     The $event.preventDefault() stops the page from jumping when a link is clicked. -->

<nav class="categories">

    <!-- When a link in the menu is clicked, we set the active variable -->

    <a href="/" class="home">Home</a>
    <a href="/courses" class="courses">Courses</a>
    <a href="/produits" class="produits">Produits</a>
    <a href="/categories" class="categories">Cat&eacute;gories</a>
</nav>

cate
