#{extends 'main.html' /}
#{set title:'Home' /}

<!-- The navigation menu will get the value of the "active" variable as a class.
     The $event.preventDefault() stops the page from jumping when a link is clicked. -->

<nav class="home">

    <!-- When a link in the menu is clicked, we set the active variable -->

    <a href="/" class="home">Home</a>
    <a href="/courses" class="courses">Courses</a>
    <a href="/produits" class="produits">Produits</a>
    <a href="/categories" class="categories">Cat&eacute;gories</a>
</nav>

<div class="bar">
    <!-- Create a binding between the searchString model and the text field -->
    <input type="text" ng-model="searchString" placeholder="Tape un nom de produit ..." />
</div>

<ul>
    <!-- Render a li element for every entry in the items array. Notice
         the custom search filter "searchFor". It takes the value of the
         searchString model as an argument.
     -->
    <li ng-repeat="i in items | searchFor:searchString">
        <a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
        <p>{{i.title}}</p>
    </li>
</ul>
